@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700");
@import url("../fonticon/css/fontello.css");
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    font: 16px/1.5 'Open Sans', sans-serif;
}

#accueil h1 img{
    border: none;
}

header{
    margin: 0;
    background: #5d5e5e; /* Old browsers */
    background: -moz-linear-gradient(top,  #5d5e5e 0%, #474849 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5d5e5e), color-stop(100%,#474849)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #5d5e5e 0%,#474849 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #5d5e5e 0%,#474849 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #5d5e5e 0%,#474849 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #5d5e5e 0%,#474849 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d5e5e', endColorstr='#474849',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.6);     
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.6);
    color: #fff;
    text-shadow: none;
    padding-bottom: 0.6em;
}

header h1{
    margin: 0;
}

header h1, .membersAction>div, .linkSearch, .post, .choicePicture> div, #choice{
    margin: 0 auto;
    max-width: 960px;
}

#form fieldset{
    position: relative;
}

textarea{
    width: 93.5%;
    resize: none;
    -webkit-box-shadow:  0px 1px 0px 0px #fff; 
    box-shadow:  0px 1px 0px 0px #fff;
    padding: 1em;
}

.post img{
    border: 5px solid #fff;
    -webkit-box-shadow:  0px 3px 8px 0px rgba(0, 0, 0, .5);
    box-shadow:  0px 3px 8px 0px rgba(0, 0, 0, .5);
}

.img img{
    width: 100%;
}

.img{
    float: left;
    width: 20%;
    margin-right: 5%;
}

.infos{
    float: left;
    width: 75%;
    position: relative;
}

.infos h2{
    width: 100%;
}

h2{
    margin: 0;
    font-weight: bold;
    width: 200px;
}

.infos span{
    font-size: 0.8em;
    position: relative;
    top: -1em;
}

.infos p{
    margin: 0;
    margin-bottom: 2em;
}

form.infos span{
    display: block;
    top: 0;
    margin: 1em 0;
}

form.infos textarea{
    width: 100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}

.post form{
    display: inline-block;
}

.supp{
    position: absolute;
    right: 0;
}  

#choix #content{
    margin-top: 2em;
}

#choix h2{
    font-size: 2em;
    width: auto;
}

#choix span{
    position: relative;
    top: -0.7em;
}

#choix p{
    margin: 0;
}

.lesImages label{
    display: block;
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 1em;
    border: 5px solid #fff;
    -webkit-box-shadow:  0px 3px 8px 0px rgba(0, 0, 0, .5);
    box-shadow:  0px 3px 8px 0px rgba(0, 0, 0, .5);
}

.lesImages img{
    width: 100%;
}

.lesImages{
    float: left;
    margin-bottom: 1em;
    margin-right: 1em;
}

#choice{
    overflow: hidden;
}

.choice{
    margin-top: 2em;
}

#choix button+button, #envoyer{
    margin: 0;
    margin-bottom: 1em;
}

#envoyer{
    width: 266px;
}

#choice fieldset+fieldset{
    text-align: center;
    margin-top: 2em;
}

#modifier h2{
   margin-bottom: 1em;
   width: 100%;
}

#modifier textarea[name="description"]{
    width: 90%;
    height: 150px;
}

#modifier input[name="titre"]{
    width: 99%;
}

#modifier input[name="titre"], #modifier textarea[name="description"]{
    -webkit-box-shadow: 0px 1px 0px 0px #fff;
    box-shadow: 0px 1px 0px 0px #fff;
}

#modifier img{
    width: 98.5%;
    -webkit-box-shadow: 0px 2px 0px 0px #fff;
    box-shadow: 0px 2px 0px 0px #fff;
    border: 5px solid #000;
}

#modifier #content{
    margin-top: 1em;
}

#modifier .modifier{
    background: #333; /* Old browsers */
    background: -moz-linear-gradient(top,  #333 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #333 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #333 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #333 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #333 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    color: #fff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #999, 0px 1px 0px 0px #aaa;
    box-shadow: inset 0px 1px 0px 0px #999, 0px 1px 0px 0px #aaa;
    border: 1px solid #000;
    font-weight: bold;
    padding: 0.5em;
    width: 100%;
    margin-top: 1em;
}

#modifier h1 img{
    width: auto;
    border: none;
    box-shadow: none;
}

#connexion{
    position: relative;
}

#connexion input{
    display: block;
}

#loadingSignIn{
    background-color: #fff;
    text-align: center;
    position: absolute;
    top: 0;
    opacity: .9;
    width: 50%;
    display: none;
    padding: 0.5em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}

#loadingSignIn p{
    position: relative;
    top: 7em;
    width: 100%;
}

#loadingSignIn img{
    position: relative;
    top: 8em;
}

#loadingSignIn a{
    position: relative;
    top: 7em;
    background: #00a4ed; /* Old browsers */
    background: -moz-linear-gradient(top,  #00a4ed 0%, #008bd6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a4ed), color-stop(100%,#008bd6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #00a4ed 0%,#008bd6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #00a4ed 0%,#008bd6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #00a4ed 0%,#008bd6 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #00a4ed 0%,#008bd6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a4ed', endColorstr='#008bd6',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #00638e;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .3);  
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .3);
    color: #fff;
    padding: 0.5em;
    text-decoration: none;
}

.errors{
    color: red;
    position: relative;
    top: -1em;
}

span.errors{
    display: block;
}

.membersAction{
    background-color: #eee;
    margin: 1em 0;
    padding: 1em 0;
    overflow: hidden;
}

.icon-vcard span, .icon-login span{
    display: none;
}

.icon-vcard, .icon-login{
    font-size: 7em;
    color: #00a4ed;
    float: left;
    width: 25%;
}

.membersInformation{
    float: left;
    margin: 3em 0;
    width: 75%;
}

.membersInformation input{
    width: 50%;
    margin-bottom: 1em;
    padding: 0.3em;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}

.membersInformation h2{
    width: 50%;
    margin-bottom: 0.5em;
}

.membersAction>div{
    overflow: hidden;
}

#register, #connect, .modifier, .supprimer, .saveChange, #partager, #suiv, #prec, #choix #envoyer{
    font: 16px/1.5 'Open Sans', sans-serif;
    font-weight: 700;
    display: block;
    background: #00a4ed; /* Old browsers */
    background: -moz-linear-gradient(top,  #00a4ed 0%, #008bd6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00a4ed), color-stop(100%,#008bd6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #00a4ed 0%,#008bd6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #00a4ed 0%,#008bd6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #00a4ed 0%,#008bd6 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #00a4ed 0%,#008bd6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a4ed', endColorstr='#008bd6',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #00638e;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .3);  
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .3);
    color: #fff;
    width: 50%;
}

.modifier, .supprimer, .saveChange, #partager, #suiv, #prec, #choix #envoyer{
    width: 100%;
    padding: 0em 1em;
}

.saveChange, #partager, #suiv{
    margin-top: 1em !important;
}

.linkSearch textarea{
    width: 100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    padding: 0.5em;
}

#form{
    background-image: url("http://subtlepatterns.com/patterns/wood_pattern.png");
    padding: 4em;
    position: relative;
    top: -1.45em;
}

.post{
    overflow: hidden;
    position: relative;
    padding: 1em;
    margin-bottom: 1em;
}

.postContainer, .choicePicture{
    background-color: #eee;
}

#choix #content{
    margin-top: 0;
}

header h1 a{
    font-size: 0.5em;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 959px){
    .choicePicture{
        padding: 1em;
    }
}/*pour ecran en deca de 959px*/

@media only screen and (min-width: 768px) and (max-width: 959px){

}/*pour tablet mode paysage*/

@media only screen and (max-width: 767px){
    .membersInformation input{
        width: 100%;
    }

    .membersAction > div{
        padding: 0 1em;
    }

    .icon-vcard, .icon-login {
        float: none;
        width: 100%;
        text-align: center;
    }

    .membersInformation {
        float: none;
        width: 100%;
        margin: 0;
    }

    #register, #connect, .modifier, .supprimer, .saveChange, #partager, #suiv, #prec, #choix #envoyer {
        width: 100%;
    }

    .membersInformation h2{
        width: 100%;
        text-align: center;
    }

    header h1{
        text-align: center;
    }

    #form{
        padding: 1em;
    }

    .supp{
        position: static;
    }
}/*pour tablet mode portrait*/

@media only screen and (min-width: 480px) and (max-width: 767px){

}/*telephone mode paysage*/

@media only screen and (max-width: 480px){
    header h1 a{
        display: block;
        font-size: 0.5em;
    }

    .img {
        margin-right: 10%;
    }

    .infos{
        width: 70%;
    }

    .lesImages{
        float: none;
    }
}/*telephone mode portrait*/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
